@import '../styles.scss';

#brand-footer {
  height: 50px;
  width: 140px;
  padding: 2%
}

.fas {
  font-size: 12px;
  color: $accent-color;
}

.footer {
  padding: 1%;
  background-color: $title-bgcolor;
  color: $base-text;
}

.footer-titles {
  font-size: 18px;
  font-weight: 600;
}

