@import '../styles.scss';

#main {
  background-color: rgb(41, 41, 41);
  height: 100%;
  width: 100%;
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  flex-direction: column;
}

#canvas {
  width: 80%;
}

.tick {
  color: $base-text;
  font-size: 14px;
  font-weight: bold;
}

.domain {
  color: $base-text;
  font-weight: bold;
}

#info {
  visibility: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px 20px 10px 10px;
  align-items: center;
  width: 80%;

}

#cell-info {
  @include title-background;
  font-size: 28px;
  font-weight: bold;
  padding: 1% 5% 1% 2%;
  margin: 2% 0% 2% 0px;
}

#albums {
  color: $base-text;
  font-size: 16px;
  padding-top: 1%;
}

@media only screen and (max-width: 770px) {
  .tick {
    font-size: 11px;
  }
}

@media only screen and (max-width: 650px) {
  .tick {
    font-size: 9px;
    font-weight: 200;
  }
}

@media only screen and (max-width: 500px) {
  .tick {
    font-size: 6px;
    font-weight: 200;
  }
}

