// Masque font for titles
@import url(//db.onlinewebfonts.com/c/1bab4d870e1f8326f9abb140496f95af?family=Masque);
@font-face {
  font-family: "Masque";
  src: url("//db.onlinewebfonts.com/t/1bab4d870e1f8326f9abb140496f95af.eot");
  src: url("//db.onlinewebfonts.com/t/1bab4d870e1f8326f9abb140496f95af.eot?#iefix") format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/1bab4d870e1f8326f9abb140496f95af.woff2") format("woff2"),
      url("//db.onlinewebfonts.com/t/1bab4d870e1f8326f9abb140496f95af.woff") format("woff"),
      url("//db.onlinewebfonts.com/t/1bab4d870e1f8326f9abb140496f95af.ttf") format("truetype"),
      url("//db.onlinewebfonts.com/t/1bab4d870e1f8326f9abb140496f95af.svg#Masque") format("svg");
}

// Global variables for styling
$bgcolor: #292929;
$title-bgcolor: #343b40;
$base-text: #fff;
$accent-color: #22c95c;
$title-font: "Masque";

@mixin title-background {
  color: rgb(34, 201, 92);
  background-color: rgb(52, 59, 64);
  border-top-right-radius: 100px;
  box-shadow: rgb(34 201 92 / 42%) 5px 5px;
}

* {
  font-family: "Archivo", sans-serif;
}

html {
  background-color: #292929 ;
}

h1 {
  @include title-background;
  font-family: "Masque";
  padding: 1% 10% 1% 5%;
  margin: 2% 13% 2% 0;
  word-break: break-word;
}

li {
  color: $base-text;
  border-radius: 5px;
  list-style-type: none;
  padding: 1%;

  &:before {
    content: '\1F3A7';
    margin-left: -30px;
    margin-right: 11px;
  }

  padding: 4% 0px;
}


// Styling to help hexagon loading speeds
.container {
  position: relative;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}


// Prompt for messages on chord chart, heatmap
// Radar has more specific scaling not specified here
#prompt {
  display: none;
}

@media all and (orientation:portrait) {
  #prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 5%;
    opacity: .8;

    #prompt-message {
      font-size: 26px;
      color: $base-text;
    }
  }

  #chord, #main {
    display: none;
  }
}

.fas {
  color: $base-text;
  font-size: 56px;
  margin-top: 1%;
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes rotate {
  0%  {-webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
      transform-origin: 0% 0%;}
  50%  {-webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      transform-origin: 50% 50%}
  100%  {-webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          transform-origin: 0% 0%;}
}
