#root {
  background-color: #292929;
}

#brand {
  width: 16rem;
  height: 4rem;
  padding-right: 5%;
}

.mr-auto {
  padding: 0 5% 0 5%;
}

// .nav-link {
//   border-right: 1px solid white;
//     margin-right: 5px;
//     padding: 0 5px 0 5px;
// }
