@import './_styles.scss';

#root {
  background-color: #292929;
}

#brand {
  width: 16rem;
  height: 4rem;
  margin-left: 5%;
}

.navbar-collapse {
  margin-right: 2%;
  z-index: 3;
}

.btn-login-button {
  background-color: $accent-color;
  color: $base-text;
  border-radius: 3px;
}

.mr-auto {
  padding: 0 5% 0 5%;
}
